pre {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  background-color: rgb(45, 57, 68);
  padding: 10px;
  font-size: 105%;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: scroll;
}

.hljs-built_in {
  color: rgb(61, 216, 61);
}

.hljs-attr {
  color: rgb(93, 198, 216);
}

/* code.hljs.language-json > span.hljs-attr, */
code.hljs.language-json > span.hljs-string {
  color: rgb(255, 115, 0);
}

code.hljs.language-typescript > span.hljs-keyword {
  color: rgb(93, 136, 216);
}

span.hljs-number {
  color: rgb(216, 198, 93);
}

blockquote {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: burlywood;
  max-width: 600px;
  max-height: 250px;
  overflow: scroll;
  overflow-x: scroll;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

code {
  font-family: Consolas, 'courier new';
  padding: 2px;
  font-size: 105%;
  overflow-x: scroll;
}

p > code {
  font-family: Consolas, 'courier new';
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
  font-weight: bolder;
}

em > code {
  font-family: Consolas, 'courier new';
  color: red;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
  font-weight: lighter;
}
